img {
    width:150px;
    height:150px;
}

body {
    font-family: Roboto, sans-serif;
    color:#E5E7EB;
}

.header {
    display:flex;
    font-family: Roboto, sans-serif;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #1F2937;
}

.header img {
    height: auto;
    width: 100px;
}

ul {
    display: flex;
    list-style-type:  none;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.logo {
    margin-right: auto;
    display:flex;
}

button {
    background-color: #3882F6;
    border-radius:15px;
    border:none;
    color: #E5E7EB;
    font-weight: bold;
    text-decoration: none;
    font-size:14px;
}

.hero-button {
    width:175px;
    padding: 10px;
}

.hero-container {
    background-color: #1F2937;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width:700px;
    height: 300px;
    display:flex;
}

.hero-content img {
    height: 300px;
    width:350px;
}

.hero-content .left{
    display:flex;
    flex-direction: column;

}

.hero-content .right {
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: F9FAF8;
}

.middle-container {
    color: #1F2937;
    height: 400px;
    text-align: center;
}

.middle-title {
    font-size: 36px;
    font-weight:800;
    margin-top: 55px;
    Margin-bottom: 55px;
}

.middle-container-content {
    display:flex;
    justify-content: center;
    gap:40px;
}

.middle-container-content img {
    border-radius:15px;
}
.quote-container {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 400px;
}

.quote-box {
    width: 500px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:flex-end;
}

.quote-author {
    font-size:18px;
    font-style:bold;
    font-style:normal;
    
}

.info-container{
    display:flex;
    height: 300px;
    justify-content:center;
    align-items: center;
}

.info-content {
    background-color:#3882F6;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 60px;
    width: 600px;
    padding: 20px 30px;
    border-radius: 15px;
}

.call-to-action {
    font-weight:800;
}

.sign-up {
    border:2px solid white;
    padding: 10px 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 70px;
}
